<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student list </title>
</head>
<body>
    <h1>student list</h1>

    <table border="1" style="width: 100%;">
        <tr>
            <th>S.no</th>
            <th>Names</th>
            <th>Emails</th>
            <th>MNos</th>
            <th>actions</th>
        </tr>
        <% if(student.length > 0){ %>


            <% for( let i = 0 ; i < student.length ; i++) { %>
                    <tr>
                        <td><%- student[i].id %></td>
                        <td><%- student[i].name %></td>
                        <td><%- student[i].email %></td>
                        <td><%- student[i].mno %></td>
                        <td>
                            <a href="/delete-student?id=<%- student[i].id %>">Delete</a>
                            <a href="/update-student?id=<%- student[i].id %>">update</a>
                        </td>
                    </tr>
                <% } %>
    
    
            <% } else {%>
            <h1>Student Data not found</h1> 
    
                <% } %>
    </table>

   
</body>
</html>